.review {
  text-align: start;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 10px;
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    max-width: 300px !important;
  }
}
