@import './color.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.content {
  background-color: #eaedf0;
  height: 600px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: $dim-grey;
    -webkit-font-smoothing: antialised;
    --moz-osx-font-smoothing: grayscale;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: $dim-grey;
    -webkit-font-smoothing: antialised;
    --moz-osx-font-smoothing: grayscale;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: $dim-grey;
    -webkit-font-smoothing: antialised;
    --moz-osx-font-smoothing: grayscale;
  }

  .page {
    width: 800px;
    margin: 0 auto;
  }
}
