@import '../../styles/color.scss';

.app {
  background-color: $dark-red;
  padding: 2em;
  text-align: center;
  box-sizing: border-box;
  &__text {
    font-size: 30px;
  }
}

.layout {
  box-sizing: border-box;
  display: flex;
  flex: initial;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-box {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}
