@import '../../styles/default.scss';

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.search {
  font-size: $font-size;
  color: $dim-grey;
  align-items: center;
  border: 2px solid $white;
  border-radius: 3em;
  text-align: center;
  height: 2em;
  -webkit-transition: width 2s;
  transition: width 2s;
  width: 200px;
}
.search:hover {
  width: 300px;
}
.header__container {
  background-color: $dim-grey;
  letter-spacing: 2px;
  color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  align-items: center;
}

.movie__container {
  display: flex;
  justify-content: space-between;
}
.movie__grid {
  flex-direction: column;
  align-items: center;
}
