@import '../../styles/color.scss';

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  color: $white;
  align-items: center;
  border: 2px solid $white;
  border-radius: 15px;
  text-align: center;
  height: 3em;
}
.header-container {
  background-color: $dim-grey;
  letter-spacing: 2px;
  color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  align-items: center;
}
