@import '../../styles/color.scss';

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  color: $white;
  align-items: center;
  border: 2px solid $white;
  border-radius: 3em;
  text-align: center;
  height: 3em;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  width: 100px;
}
.search:hover {
  width: 300px;
}
.header-container {
  background-color: $dim-grey;
  letter-spacing: 2px;
  color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  align-items: center;
}

.movie-container {
  display: flex;
  justify-content: space-between;
}
.movie-grid {
  flex-direction: column;
  align-items: center;
}
