@import '../../styles/color.scss';

header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px;
  background-color: $dim-grey;
  margin-right: 10px;
  color: $white;
  // border: 3px solid #f43c3c;
}

header h1 {
  color: $white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.acr__container {
  width: 100%;
  max-width: 768%;
  margin: 0 auto;
}
.acr__item {
  margin: 15px;
  padding: 15px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  .open &__header {
    margin-bottom: 10px;
  }
  &__header {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    transition: all 0.4s ease;
  }

  &__header::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    transition: all 0.4s ease;
  }

  .open &__body {
    max-height: 1000px;
    opacity: 1;
  }
  &__body {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.6s ease;

    iframe {
      /* Mobile Styles */
      @media only screen and (max-width: 400px) {
        max-width: 300px !important;
      }
    }
  }
}
