html,
body,
div + div {
  width: 100vw;
  height: 100vh;
}

div + div {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: hidden;
}

article div {
  text-align: left;
  width: 58vw;
}

div + div:hover article {
  flex: initial;
  width: 10%;
}

div + div article:hover {
  width: 60%;
}

article > div {
  opacity: 0;
  transition: opacity 0.2s ease 0;
}

div + div article:hover > div {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

@media (max-width: 900px) {
  div + div article {
    padding: 2vh 3vw;
  }

  div + div article > h2 {
    transform: rotate(90deg);
    bottom: 23vh;
    min-width: 12em;
    text-align: left;
    transform: rotate(-90deg);
    transform-origin: 0 0 0;
    opacity: 1;
  }

  div + div article:hover > h2 {
    opacity: 0;
  }

  article div {
    max-height: calc(72%);
    overflow-y: auto;
  }
}
