@import '../../styles/color.scss';

.movie {
  box-sizing: border-box;
  // flex: initial;
  padding-left: 0.5em;
  background: $white;
  // margin: 5px;
  &__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h3 {
      justify-content: flex-end;
      margin: 5px;
    }
  }
  &__overview {
    // display: flex;
    // justify-content: space-between;
  }
  p {
    order: 2;
  }
}

.genres {
  &__item {
    border: 2px solid $dim-grey;
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin: 5px;
  }
}
