@import '../../styles/default.scss';

.movie {
  box-sizing: border-box;
  padding-left: 0.5em;
  background: $white;
  padding-top: 0.5em;
  cursor: pointer;
}
@media (hover: hover) {
  .movie {
    box-sizing: border-box;
    padding-left: 0.5em;
    background: $white;
    padding-top: 0.5em;
    cursor: pointer;
  }
  .movie:hover,
  .movie:focus {
    -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    // -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    //   0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    // box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    //   0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  }
}

.genres {
  border: 2px solid black;
  border-radius: 4px;
  margin: 10px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    margin: 5px;
  }
}

.container {
  margin: 5px;
  display: flex;
  &__image {
    object-fit: contain;
    align-self: flex-start;
    margin-top: 5px;
  }
  &__text {
    margin: 0.5em;
    box-sizing: border-box;
    flex: 1 1 auto;
    text-align: start;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .movie {
    &__overview {
      height: 80px;
    }
  }
  .container {
    &__text {
      margin: 1em;
      box-sizing: border-box;
      flex: 1 1 auto;
      text-align: start;
      font-size: 17px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }

  .genres {
    padding: 5px 10px;
  }
}
