@import '../../styles/color.scss';

.movie {
  // border-bottom: 2px solid $black;
  box-sizing: border-box;
  padding-left: 0.5em;
  // padding-bottom: 0.5em;
  background: $white;
  padding-top: 0.5em;
  cursor: pointer;
}

.genres {
  border: 2px solid black;
  border-radius: 4px;
  // padding: 5px 10px;
  margin: 5px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    // border: 2px solid $dim-grey;
    // text-align: center;
    // justify-content: space-between;
    // display: flex;
    margin: 5px;
  }
}

.container {
  margin: 5px;

  display: flex;
  &__image {
    object-fit: contain;
    align-self: flex-start;
  }
  &__text {
    margin: 0.5em;
    box-sizing: border-box;
    flex: 1 1 auto;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .movie {
    &__overview {
      height: 80px;
    }
  }
  .container {
    margin: 5px;

    display: flex;
    &__image {
      object-fit: contain;
      align-self: flex-start;
    }
    &__text {
      margin: 1em;
      box-sizing: border-box;
      flex: 1 1 auto;
      text-align: start;
      font-size: 17px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }

  .genres {
    padding: 5px 10px;
    &__item {
      margin: 5px;
    }
  }
}
