@import '../../styles/color.scss';

.movie {
  // border-bottom: 2px solid $black;
  box-sizing: border-box;
  padding-left: 0.5em;
  // padding-bottom: 0.5em;
  background: $white;
  padding-top: 0.5em;
}

.genres {
  &__item {
    border: 2px solid $dim-grey;
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin: 5px;
  }
}

.container {
  margin: 5px;

  display: flex;
  &__image {
    object-fit: contain;
    align-self: flex-start;
  }
  &__text {
    margin: 0.5em;
    box-sizing: border-box;
    flex: 1 1 auto;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .movie {
    &__overview {
      height: 80px;
    }
  }
  .container {
    margin: 5px;

    display: flex;
    &__image {
      object-fit: contain;
      align-self: flex-start;
    }
    &__text {
      margin: 3em;
      box-sizing: border-box;
      flex: 1 1 auto;
    }
  }

  .genres {
    &__item {
      border: 2px solid $dim-grey;
      text-align: center;
      justify-content: space-between;
      display: flex;
      margin: 5px;
    }
  }
}
